<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<link rel="icon" href="/assets/favicon.ico">
	<title>Camagru</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<nav class="topbar">
	<a href="/" class="logo">
		<img src="/assets/favicon.ico" class="logo-icon" alt="logo">
		Camagru
	</a>

	<div class="nav-right">
		<a href="/login" id="login-link">Login</a>
		<a href="/signup" id="signup-link">Signup</a>

		<a href="/profile" id="profile-link" style="display:none">Profile</a>
		<a href="/logout" id="logout-link" style="display:none">Logout</a>
	</div>
</nav>

<script src="/js/auth.js"></script>