body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
	background: #fafafa;
}

.topbar {
	height: 60px;
	border-bottom: 1px solid #dbdbdb;
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.profile-container {
	max-width: 935px;
	margin: 40px auto;
}

.profile-header {
	display: flex;
	align-items: center;
}

.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 50px;
}

.profile-meta span {
	margin-right: 40px;
}

@font-face {
	font-family: 'Billabong';
	src: url('/../assets/Billabong.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.logo {
	font-family: 'Billabong', cursive;
	font-size: 48px;
	color: #333;
	letter-spacing: 1px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.gallery-item {
	background: white;
	padding: 10px;
	border: 1px solid #ddd;
}

.gallery-item img {
	width: 100%;
	border-radius: 8px;
}

.comments {
	font-size: 13px;
	color: #444;
}