body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
	background: #fafafa;
}

.topbar {
	height: 60px;
	border-bottom: 1px solid #dbdbdb;
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.nav-right {
	display: flex;
	gap: 10px;
	align-items: center;
}

.profile-container {
	max-width: 935px;
	margin: 40px auto;
}

.profile-header {
	display: flex;
	align-items: center;
}

.avatar {
	width: 150px;
	height: 150px;
	/* border-radius: 50%; */
	/* margin-right: 50px; */
}

.profile-meta span {
	margin-right: 40px;
}

@font-face {
	font-family: 'Billabong';
	src: url('../assets/Billabong.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.logo {
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: 'Billabong', cursive;
	font-size: 32px;
	color: #333;
	letter-spacing: 2px;
	text-decoration: none;
}

.logo-icon {
	width: 32px;
	height: 32px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
  padding: 10px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.gallery-item {
	background: white;
	padding: 10px;
	border: 1px solid #ddd;
}

.gallery-item img {
	width: 100%;
	border-radius: 8px;
}

.comments {
	font-size: 13px;
	color: #444;
}

.auth-wrapper {
	min-height: calc(100vh - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth-card {
	width: 100%;
	max-width: 360px;
	background: white;
	padding: 30px;
	border-radius: 12px;
	border: 1px solid #dbdbdb;
}

.auth-card h2 {
	text-align: center;
	margin-bottom: 20px;
}

.auth-card input {
	width: 100%;
	padding: 12px;
	margin-bottom: 12px;
	border-radius: 6px;
	border: 1px solid #ccc;
}

.auth-card button {
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 6px;
	background: #0095f6;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.error {
	color: red;
	text-align: center;
	margin-top: 10px;
}



/* mobile */
@media (max-width: 768px) {
	.logo {
		font-size: 32px;
	}

	.logo-icon {
		width: 32px;
		height: 32px;
	}

	.topbar {
		height: 50px;
		padding: 0 10px;
	}

	.avatar {
	width: 90px;
	height: 90px;
	/* border-radius: 50%; */
	/* margin-right: 50px; */
	}

	.nav-right {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	.gallery-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}